* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary--800: #2f1c6a;
}

body {
    color: #2F1C6A;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #2F1C6A;
    font-family: sans-serif;
}

footer {
    max-width: 1128px;
    width: 1128px;
}

.footer-wrapper {
    background-color: #f4f5ff;
    display: flex;
    justify-content: center;
    padding-inline: 40px;
    padding-top: 10px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 147px;
    height: 30px;
}

.footer-img {
    filter: invert(10%) sepia(71%) saturate(3897%) hue-rotate(251deg) brightness(82%) contrast(94%);
}

.footer-social {
    display: flex;
    gap: 16px;
}

.logo-social {
    width: 32px;
    height: 32px;
    filter: invert(10%) sepia(71%) saturate(3897%) hue-rotate(251deg) brightness(82%) contrast(94%);
}


.footer2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

}

.footer-cards {
    display: flex;
    gap: 8px;
    align-items: center;
}

.card-image {
    width: 60px;
    height: 40px;
    border: 1px solid #d5dfff;
    border-radius: 6px;
}

.and-more {
    color: #673de6;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.footer-policy {
    display: flex;
    font-size: 14px;
    gap: 16px;
    align-items: center;
}

.footer3{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    border: 1px;
    border-top: 1px solid #d5dfff;

}